<!-- Botoes para Celular -->
<div class="mostrar-mobile">
  <div class="cursos-container">
    <div class="cursos-voltar-espaco">
      <a href="<%- root %>/" class="cursos-voltar"
        ><img
          src="<%- staticRoot %>/img/seta-voltar.png"
          style="max-width: 1200px; height: auto"
          alt=""
        />Voltar</a
      >
    </div>

    <div class="cursos-home-espaco">
      <a href="<%- root %>/" class="cursos-home"
        ><img
          src="<%- staticRoot %>/img/icone-home.png"
          style="max-width: 1200px; height: auto"
          alt=""
        />Home</a
      >
    </div>
  </div>
</div>

<!-- Pagina -->

    <!-- formulario de bolinha -->
    <div class="quali-titulo-responsivo">
      <h1 class="quali-titulo">
        Avalie seu nível de <span class="quali-texto-vermelho">INTERESSE</span>
      </h1>
    </div>

    <% for (let i = 0; i < perguntas.length; i++) { %>
    <hr class="quali-linha-fina" />

    <p class="quali-subtexto"><%= perguntas[i].descricao %></p>

    <div class="quali-bolinhas-centro" data-resposta="" data-id="<%= perguntas[i].id_pergunta %>" id="divPergunta<%= perguntas[i].id_pergunta %>">
      <div class="questao">
        <div class="opcoes">
          <div class="opcao muito-baixa" onclick="selecionarOpcao(this, '<%= perguntas[i].id_pergunta %>')" name="pergunta<%= perguntas[i].id_pergunta %>" value="1"></div>
          <div class="opcao baixa" onclick="selecionarOpcao(this, '<%= perguntas[i].id_pergunta %>')" name="pergunta<%= perguntas[i].id_pergunta %>" value="2"></div>
          <div class="opcao media" onclick="selecionarOpcao(this, '<%= perguntas[i].id_pergunta %>')" name="pergunta<%= perguntas[i].id_pergunta %>" value="3"></div>
          <div class="opcao alta" onclick="selecionarOpcao(this, '<%= perguntas[i].id_pergunta %>')" name="pergunta<%= perguntas[i].id_pergunta %>" value="4"></div>
          <div class="opcao muito-alta" onclick="selecionarOpcao(this, '<%= perguntas[i].id_pergunta %>')" name="pergunta<%= perguntas[i].id_pergunta %>" value="5"></div>
        </div>
      </div>
    </div>
    <% } %>

    <hr class="quali-linha-fina" />
    <!-- fim do copia e cola -->

    <!-- enviar formulario -->

    <div class="quali-espaco-btn">
      <button type="button" class="botao-padrao" onclick="avaliar()">Avaliar!</button>
    </div>

<!-- Script para bolinha -->
<script src="<%- staticRoot %>/js/projeto.js"></script>
<script>
  function selecionarOpcao(opcao, id_pergunta) {
    const opcoes = opcao.parentNode.querySelectorAll(".opcao");

    opcoes.forEach((opt) => {
      opt.classList.remove(
        "selecionada-valor",
        "selecionada-valor1",
        "selecionada-valor2",
        "selecionada-valor3",
        "selecionada-valor4",
        "selecionada-valor5"
      );
    });

    const valor = parseInt(opcao.getAttribute("value"));

    document.getElementById("divPergunta" + id_pergunta).setAttribute("data-resposta", valor);

    let cor;
    switch (valor) {
      case 1:
        cor = "selecionada-valor1";
        break;
      case 2:
        cor = "selecionada-valor2";
        break;
      case 3:
        cor = "selecionada-valor3";
        break;
      case 4:
        cor = "selecionada-valor4";
        break;
      case 5:
        cor = "selecionada-valor5";
        break;
      default:
        cor = "";
    }

    opcao.classList.add(cor);
  }

  async function avaliar() {
    const opcoes = document.body.querySelectorAll(".quali-bolinhas-centro");

    let ids = [];
    let respostas = [];

    opcoes.forEach((opt) => {
      ids.push(opt.getAttribute("data-id"));
      respostas.push(opt.getAttribute("data-resposta"));
    });

    for (let i = 0; i < respostas.length; i++) {
      if (!respostas[i]) {
        Swal.fire("Oops...", "A pergunta " + (i + 1) + " está sem resposta 😢", "error");
        return;
      }
    }

    waitSwal();

		try {
			let response = await fetch("<%- root %>/quest/enviarRespostas", {
				method: "POST",
				body: JSON.stringify({
					ids: ids,
					respostas: respostas,
				}),
				headers: {
					"content-type": "application/json"
				}
			});

      const persona = await response.json();

      if (response.ok) {
        Swal.fire({
          icon: "success",
          title: "Parabéns!",
          html: `Fizemos uma análise e deduzimos sua persona ideal:
            <br/>
            <br/>
            <b>${persona}</b> 😍
          `
        });
			} else {
				await exibirErro(response);
			}

		} catch (ex) {
			Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
		}
  }
</script>
